//Helpers
@import 'helpers/variable';
//Components
@import 'components/header';
@import 'components/main-footer';

//Pages
@import 'pages/about_us';
@import 'pages/home';
@import 'pages/news';
@import 'pages/single_news';
@import 'pages/video';
@import 'pages/video_inner';
@import 'pages/contact';
@import 'pages/consulting_main';
@import 'pages/blog';
@import 'pages/service';
@import 'pages/consulting';