.blog-section-wrapper {
    background: #F9F9FB;
    border-bottom: 2px solid rgba(42, 38, 60, 0.1);
    padding-top: 21px;
    padding-bottom: 34px;

    .btop-title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        color: #141414;
        font-family: $kfont;
    }

    .blog-carousel {
        position: relative;
        padding-bottom: 30px;

        .item {
            .blog-box-wrapper {
                display: flex;
                flex-direction: row;

                @media(max-width: 1280px) {
                    justify-content: space-between;
                }

                @media(max-width: 800px) {
                    flex-direction: column-reverse;
                }

                .blog-box-left {
                    max-width: 409px;
                    padding-top: 49px;
                    margin-right: 52px;

                    @media(max-width: 800px) {
                        max-width: 100%;
                        margin-right: 0;
                        padding-top: 20px;
                    }

                    .news-category-box {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 16px;

                        @media(max-width: 800px) {
                            margin-bottom: 5px;
                        }

                        .left {
                            padding: 12px 16px 12px 17px;
                            background: rgba(208, 58, 59, 0.1);
                            height: 49px;
                            margin-right: 16px;

                            p {
                                margin: 0;
                                color: #D03A3B;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 17px;
                                line-height: 25px;
                            }
                        }

                        .right {
                            p {
                                margin: 0;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 26px;
                                color: rgba(111, 111, 111, 0.6);
                            }
                        }
                    }

                    .blogh3 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 35px;
                        color: #000000;
                        font-family: $kfont;
                        text-decoration: none;

                        @media(max-width: 1280px) {
                            margin-bottom: 31px;
                        }

                        @media(max-width: 800px) {
                            margin-bottom: 12px;

                        }
                    }

                    .blogpara {
                        margin-top: 16px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 164.8%;
                        color: #6D6B7C;
                        font-family: $kfont;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;                  

                        @media(max-width: 1280px) {
                            margin-top: 31px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            font-size: 14px;
                            max-width: 400px;
                        }

                        @media(max-width: 800px) {
                            max-width: 100%;
                            margin-top: 12px;
                        }
                    }

                    .readmore-btn {
                        margin-top: 50px;

                        @media(max-width: 1280px) {
                            margin-top: 55px;
                        }

                        @media(max-width: 800px) {
                            margin-bottom: 55px;
                        }

                        a {
                            text-decoration: none;
                            padding: 16px 43px;
                            border-radius: 8px;
                            background: linear-gradient(93.05deg, #851801 2.82%, #CA0000 95.87%);
                            -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 50px 50px -27px rgba(133, 24, 1, 0.4);
                            box-shadow: 0px 10px 13px -7px #000000, 0px 50px 50px -27px rgba(133, 24, 1, 0.4);
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 26px;
                            text-align: center;
                            color: #FFFFFF;
                            font-family: $kfont;
                            transition: 0.3s ease;
                        }
                    }
                }

                .blog-box-right {
                    padding-top: 27px;

                    img {
                        width: 884px;
                        height: 418px;
                        border-radius: 4px;

                        @media(max-width: 1280px) {
                            width: 731px;
                            height: 418px;
                        }

                        @media(max-width: 1152px) {
                            width: 603px;
                            height: 418px;
                        }

                        @media(max-width: 1024px) {
                            width: 520px;
                            height: 418px;
                        }

                        @media(max-width: 800px) {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }

        // Owl Nav 
        .owl-nav {
            margin: 0;
            position: absolute;
            top: -53px;
            right: 0;
            content: "";

            .owl-prev {
                transition: 0.3s ease;

                img {
                    border: 1px solid #575757;
                    padding: 11px 11px;
                    border-radius: 50%;

                    @media(max-width: 800px) {
                        padding: 8px 8px;
                    }
                }

                &:hover {
                    background: #E9E9F1;
                    border-radius: 50%;
                }
            }

            .owl-next {
                margin-right: 0;
                transition: 0.3s ease;

                img {
                    border: 1px solid #575757;
                    padding: 11px 11px;
                    border-radius: 50%;

                    @media(max-width: 800px) {
                        padding: 8px 8px;
                    }
                }

                &:hover {
                    background: #E9E9F1;
                    border-radius: 50%;
                }
            }
        }

        // Owl Nav 
        // Owl Dots 
        .owl-dots {
            position: absolute;
            left: 0;
            bottom: 17px;

            .owl-dot {
                &:hover {
                    span {
                        width: 40px !important;
                        height: 5px;
                    }
                }

                span {
                    margin-left: 0;
                    height: 3px;
                    width: 40px;

                    &:hover {
                        width: 40px !important;
                    }
                }
            }

            .active {
                span {
                    width: 40px !important;
                    height: 5px;

                    &:hover {
                        width: 40px !important;
                    }
                }
            }
        }

        // Owl Dots 
    }
}


// Recent Post 
.recent-posts-wrapper {

    margin-bottom: 50px;

    .recent-post-inner {
        position: relative;
        z-index: 1;
        padding-bottom: 100px;

        @media(max-width: 1024px) {
            margin-bottom: 80px;
            padding-bottom: 0;
        }

        &::after {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 60px;
            content: "";
            z-index: -1;
            background: rgba(42, 38, 60, 0.2);
            filter: blur(125px);
            // background-color: red;
        }

        .recent-post-inner-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @media(max-width: 1024px) {
                flex-direction: column;

            }

        }

        .recent-inner-left {
            padding-top: 40px;

            .recent-post-title {
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 41px;
                color: #2A263C;
                font-family: $kfont;
                margin-bottom: 32px;
            }

            .recent-left-wrapper {
                display: flex;
                flex-direction: row;
                margin-bottom: 50px;

                @media(max-width: 1280px) {
                    max-width: 746px;
                }

                @media(max-width: 1152px) {
                    max-width: 672px;
                }

                @media(max-width: 1024px) {
                    width: 100%;
                    max-width: 100%;

                }
                @media(max-width: 600px){
                    flex-direction: column;
                }

                .left-inner-left {
                    margin-right: 32px;

                   @media(max-width: 600px){
                    margin-right: 0px;
                    margin-bottom: 20px;
                   }

                    a {
                        text-decoration: none;

                        img {
                            width: 321px;
                            height: 198px;
                            border-radius: 4px;
                            @media(max-width: 600px){
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .left-inner-right {
                    width: 435px;

                    @media(max-width: 1024px) {
                        width: 100%;
                    }

                    .news-category-box {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-bottom: 16px;

                        @media(max-width: 800px) {
                            margin-bottom: 5px;
                        }
                        @media(max-width: 600px) {
                            margin-bottom: 15px;
                        }

                        .left {
                            padding: 8px 12px 8px 13px;
                            background: rgba(208, 58, 59, 0.1);
                            height: 39px;
                            margin-right: 16px;

                            p {
                                margin: 0;
                                color: #D03A3B;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 23px;
                            }
                        }

                        .right {
                            p {
                                margin: 0;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 23px;
                                color: #6D6B7C;
                                font-family: $kfont;
                            }
                        }
                    }

                    .recent-link {
                        margin-bottom: 15px;

                        a {
                            text-decoration: none;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 35px;
                            color: #2A263C;
                            font-family: $kfont;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                    }

                    .recent-para {
                        margin: 0;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 164.8%;
                        color: #6D6B7C;
                        font-family: $kfont;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
            }

            .load-more {
                text-align: center;
                margin-top: 70px;

                a {
                    text-decoration: none;
                    padding: 16px 40px;
                    border: 1px solid #D03A3B;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                    color: #D03A3B;
                    font-family: $kfont;
                    transition: 0.5s ease;

                    &:hover {
                        background: linear-gradient(96.04deg, var(--c1, #A80304), var(--c2, #CF393A) 51%, var(--c1, #a10707)) var(--x, 0)/200%;
                        color: #FFFFFF;
                    }
                }
            }
        }

        .recent-inner-right {
            position: relative;
            padding-top: 39px;
            // padding-left: 30px;
            // padding-right: 30px;

            display: flex;
            flex-direction: column;

            width: 454px;

            z-index: 1;

            @media(max-width: 1280px) {
                width: 415px;
            }

            @media(max-width: 1152px) {
                width: 362px;
            }

            @media(max-width: 1024px) {
                width: 100%;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 0;
                margin-top: 100px;
            }

            @media(max-width: 800px) {
                flex-direction: column;
            }


            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to bottom, #f9f9fb, #f9f8fa, #f8f8f9, #f8f7f8, #f7f7f7);
                // background-color: red;
                // background-image: linear-gradient(to bottom, #ebebef, #eeeef2, #f2f2f5, #f5f5f8, #f9f9fb);
                opacity: .6;
                z-index: -1;
            }

            .recent-add-wrapper-top {
                margin: 0 auto 0 auto;
                position: relative;
                background-image: url("../assets/images/recent-right-1.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 322px;
                height: 254px;
                border-radius: 4px;
                z-index: 1;
                margin-bottom: 65px;
                padding-left: 25px;

                @media(max-width: 1280px) {
                    margin-left: 67px;
                }

                @media(max-width: 1152px) {
                    margin-left: 38px;
                }

                @media(max-width: 1024px) {
                    width: 30%;
                    margin-left: 0;
                    margin: 0;
                    padding-left: 0;
                    height: 243px;
                }

                @media(max-width: 800px) {
                    width: 322px;
                    height: 254px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 65px;
                }
                @media(max-width: 345px){
                    width: 100%;
                }

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    background: #000000;
                    // background-color: #F9F9FB;
                    opacity: 0.6;
                    border-radius: 4px;
                    content: "";
                    z-index: -1;


                }

                h6 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 26px;
                    color: #FFFFFF;
                    font-family: $kfont;
                    padding-top: 26px;

                    @media(max-width: 1024px) {
                        font-size: 16px;
                        padding-left: 25px;
                    }

                    @media(max-width: 800px) {
                        font-size: 18px;
                    }
                    @media(max-width: 345px){
                        padding-left: 15px;
                    }

                }

                p {
                    margin-bottom: 15px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 22px;
                    color: rgba(255, 255, 255, 0.7);
                    font-family: $kfont;

                    @media(max-width: 1024px) {
                        font-size: 14px;
                        max-width: 240px;
                        padding-left: 25px;
                    }

                    @media(max-width: 800px) {
                        font-size: 15px;
                        max-width: 100%;
                    }
                    @media(max-width: 345px){
                        padding-left: 15px;
                    }

                    br {
                        @media(max-width: 1024px) {
                            display: none;
                        }

                        @media(max-width: 800px) {
                            display: block;
                        }
                    }

                }

                h3 {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 36px;
                    line-height: 52px;
                    color: #FFFFFF;
                    font-family: $kfont;
                    padding-left: 23px;

                    @media(max-width: 1024px) {
                        font-size: 30px;
                        padding-left: 0;
                        text-align: center;
                    }

                    @media(max-width: 800px) {
                        font-size: 36px;
                    }
                }

                .recent-right-link {
                    position: absolute;
                    left: 24px;
                    bottom: -26px;
                    content: "";
                    text-decoration: none;
                    background: linear-gradient(96.04deg, var(--c1, #A80304), var(--c2, #CF393A) 51%, var(--c1, #a10707)) var(--x, 0)/200%;
                    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 50px 50px -27px rgba(133, 24, 1, 0.4);
                    box-shadow: 0px 21px 21px -9px rgba(168, 3, 4, 0.31);
                    border-radius: 8px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 29px;
                    text-align: center;
                    color: #FFFFFF;
                    font-family: $kfont;
                    transition: 0.3s ease;
                    width: 274px;
                    height: 61px;
                    padding-top: 18px;

                    &:hover {
                        --x: 100%;
                    }

                    @media(max-width: 1024px) {
                        width: 203px;
                        left: 40px;
                        height: 50px;
                        padding-top: 10px;
                        font-size: 18px;
                        bottom: -25px;
                    }

                    @media(max-width: 800px) {
                        width: 274px;
                        height: 61px;
                        left: 24px;
                        bottom: -26px;
                        font-size: 20px;
                        padding-top: 18px;
                    }
                }

            }

            .recent-add-wrapper-bottom1 {
                margin: 0 auto;
                position: relative;
                // background-image: url("../../assets/images/recnt-right.png");
                background-image: url("../assets/images/unique_box_2.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 322px;
                height: 243px;
                border-radius: 4px;
                z-index: 1;
                box-shadow: 0px 32px 40px -24px rgba(0, 0, 0, 0.25);
                margin-bottom: 40px;

                padding-top: 25px;

                @media(max-width: 1280px) {
                    margin-left: 67px;
                }

                @media(max-width: 1152px) {
                    margin-left: 38px;
                }

                @media(max-width: 1024px) {
                    width: 30%;
                    margin-left: 0;
                    margin: 0;
                }

                @media(max-width: 800px) {
                    width: 322px;
                    height: 243px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 40px;
                }

                @media(max-width: 345px){
                    width: 100%;
                }

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    // background-color: #403D50;
                    // // background-color: #403C4F;
                    // opacity: .9;
                    border-radius: 4px;
                    content: "";
                    z-index: -1;


                }

                p {
                    padding-left: 25px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 164.8%;
                    color: rgba(255, 255, 255, 0.7);
                    font-family: $kfont;

                    @media(max-width: 1024px) {
                        font-size: 14px;
                        max-width: 240px;
                    }

                    @media(max-width: 800px) {
                        font-size: 16px;
                        max-width: 100%;
                    }

                    @media(max-width: 345px){
                        padding-left: 15px;
                    }

                    br {
                        @media(max-width: 1024px) {
                            display: none;
                        }

                        @media(max-width: 800px) {
                            display: block;
                        }
                    }

                }

                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 35px;
                    color: #FFFFFF;
                    font-family: $kfont;
                    text-align: center;
                    padding-top: 8px;

                    @media(max-width: 1024px) {
                        font-size: 22px;
                    }

                    @media(max-width: 800px) {
                        font-size: 24px;
                    }
                }

                .recenright-link-wrapper {
                    text-align: center;
                    padding-top: 30px;

                    .recent-readmore-link {
                        text-align: center;
                        border: 1px solid #D03A3B;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 26px;
                        color: #FFFFFF;
                        font-family: $kfont;
                        width: 176px;
                        height: 58px;
                        padding: 16px 40px;
                        transition: 0.5s ease;

                        @media(max-width: 1024px) {
                            font-size: 16px;
                            width: 120px;
                            height: 40px;
                            padding: 7px 17px;
                        }

                        @media(max-width: 800px) {
                            font-size: 18px;
                            width: 176px;
                            height: 58px;
                            padding: 16px 40px;
                        }

                        &:hover {
                            background: linear-gradient(96.04deg, var(--c1, #A80304), var(--c2, #CF393A) 51%, var(--c1, #a10707)) var(--x, 0)/200%;
                            color: #FFFFFF;
                        }
                    }
                }


            }

            .recent-add-wrapper-bottom {
                margin: 0 auto;
                position: relative;
                // background-image: url("../../assets/images/recent2.png");
                background-image: url("../assets/images/unique_box_1.png");
                background-repeat: no-repeat;
                background-size: cover;
                width: 322px;
                height: 243px;
                border-radius: 4px;
                z-index: 1;
                box-shadow: 0px 32px 40px -24px rgba(0, 0, 0, 0.25);
                margin-bottom: 50px;
                padding-top: 25px;

                @media(max-width: 1280px) {
                    margin-left: 67px;
                }

                @media(max-width: 1152px) {
                    margin-left: 38px;
                }

                @media(max-width: 1024px) {
                    width: 30%;
                    margin-left: 0;
                    margin: 0;
                }

                @media(max-width: 800px) {
                    width: 322px;
                    height: 243px;
                   margin: 0 auto;
                }
                @media(max-width: 345px){
                    width: 100%;
                }

                &::after {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                    // background: #575467;
                    border-radius: 4px;
                    content: "";
                    z-index: -1;
                    // opacity: 0.9;


                }

                p {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 164.8%;
                    color: rgba(255, 255, 255, 0.7);
                    font-family: $kfont;
                    padding-left: 25px;

                    @media(max-width: 1024px) {
                        font-size: 14px;
                        max-width: 240px;
                    }
                    @media(max-width: 800px) {
                        font-size: 16px;
                        max-width: 100%;
                    }
                    @media(max-width: 345px){
                        padding-left: 15px;
                    }

                    br {
                        @media(max-width: 1024px) {
                            display: none;

                        }
                        @media(max-width: 800px) {
                            display: block;

                        }
                    }

                }

                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 35px;
                    color: #FFFFFF;
                    font-family: $kfont;
                    text-align: center;
                    padding-top: 8px;

                    @media(max-width: 1024px) {
                        font-size: 22px;
                    }
                    @media(max-width: 800px) {
                        font-size: 24px;
                    }

                }


                .recent-link-bottom-wrapper {
                    text-align: center;
                    padding-top: 30px;

                    .recent-readmore-link {
                        text-align: center;
                        border: 1px solid #D03A3B;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 26px;
                        color: #FFFFFF;
                        font-family: $kfont;
                        width: 176px;
                        height: 58px;
                        padding: 16px 40px;
                        transition: 0.5s ease;

                        @media(max-width: 1024px) {
                            font-size: 16px;
                            width: 120px;
                            height: 40px;
                            padding: 7px 17px;
                        }
                        @media(max-width: 800px) {
                            font-size: 18px;
                            width: 176px;
                            height: 58px;
                            padding: 16px 40px;
                        }

                        &:hover {
                            background: linear-gradient(96.04deg, var(--c1, #A80304), var(--c2, #CF393A) 51%, var(--c1, #a10707)) var(--x, 0)/200%;
                            color: #FFFFFF;
                        }
                    }
                }

            }
        }
    }
}

// Recent Post 