.nsecond-new-section {
    background: #F9F9FB;
    height: 514px;
    padding-top: 0;

    @media(max-width: 1024px){
        height: unset;
    }

    .nconsulting-bottom-header {
        .nconsulting-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-top: 33px;
            margin-bottom: 38px;

            .nconsulting-inner-left {
                a {
                    text-decoration: none;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 43px;
                    color: #2A263C;
                    font-family: $kfont;
                }
            }

            .nconsulting-inner-right {
                a {
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 23px;
                    color: #2A263C;
                    font-family: $kfont;
                    width: 129px;
                    height: 50px;
                    text-align: center;
                    border: 1px solid #DEDEE7;
                    padding: 10px 15px 11px 15px;

                    span {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}


// Ulike Korea Section
.ulike-korea-section {
    padding-top: 41px;
    @media(max-width: 1024px){
        margin-top: 30px;
    }
    .ulike-title {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 43px;
        color: #2A263C;
        font-family: $kfont;
        margin-bottom: 52px;
    }

    .ulike-korea-bottom-top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 27px;

        .bottom-top-section-left {
            a {
                text-decoration: none;

                .top-left-inner {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .uleft {
                        img {
                            width: 46px;
                            height: 46px;
                        }
                    }

                    .uright {
                        margin-left: 13px;

                        h5 {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 20px;
                            line-height: 29px;
                            color: #2A263C;
                            font-family: $kfont;
                            margin: 0;
                        }

                        p {
                            margin: 0;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 23px;
                            color: #9A99A6;
                            font-family: $kfont;
                        }
                    }
                }
            }
        }

        // .bottom-top-section-right {
        //     // a {
        //     //     img {}
        //     // }
        // }
    }

    .ulike-korea-bottom-bottom-section-wrapper {
        margin-bottom: 100px;
        @media(max-width: 1440px){
            margin-bottom: 0px;
        }
        @media(max-width: 1280px){
            margin-bottom: 100px;
        }

        a {
            text-decoration: none;

            .bgfor-desktop {
                // background-image: url("../assets/images/bottom-bg.png");
                background-image: url("../assets/images/bottomconsultbg.svg");
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 4px;
                min-height: 359px;
                position: relative;
                z-index: 1;
                padding-top: 38px;

                @media(max-width: 1366px){
                    background-image: url('../assets/images/cbottom1366.svg');
                }
                @media(max-width: 1280px){
                    background-image: url('../assets/images/cbottom1280.svg');
                }
                @media(max-width: 1152px){
                    background-image: url('../../assets/images/cbottom1152.svg');
                }
                @media(max-width: 1024px){
                    background-image: url('../assets/images/cbottom1024.svg');
                    height: 296px;
                    min-height: 296px;
                }
                @media(max-width: 480px){
                    min-height: unset;
                    height: unset;
                    background-image: url('../assets/images/cbotttomm.svg');
                    min-height: 680px;
                    padding-top: 50px;
                }

                &::after {
                    position: absolute;
                    width: 792px;
                    height: 100%;
                    background: rgba(42, 38, 60, 0.8);
                    backdrop-filter: blur(16px);
                    content: "";
                    left: 0;
                    top: 0;
                    z-index: -1;
                    // clip-path: polygon(1% 0, 79% 0, 100% 100%, 0% 100%);
                    // clip-path: polygon(1% 0, 80% 0, 100% 100%, 0% 100%);
                    clip-path: polygon(1% 0, 79% 0, 100% 100%, 0% 100%);
                    border-radius: 0px 0px 0px 4px;
                    @media(max-width: 1440px){
                        left: -7px;
                        border-radius: 15px 0px 0px 15px;
                    }
                    @media(max-width: 1024px){
                        width: 637px;
                    }
                    @media(max-width: 800px){
                        width: 520px;
                    }
                    @media(max-width: 768px){
                        width: 550px;
                    }
                    @media(max-width: 600px){
                        width: 440px;
                    }
                    @media(max-width: 480px){
                        // clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
                        clip-path: polygon(0 0, 100% 0, 100% 70%, 0 91%);
                        width: 100%;
                        left: 0;
                        height: 737px;
                        top: 0;
                        border-radius: 4px 4px 0px 0px;
                    }
                    @media(max-width: 425px){
                        height: 716px;
                    }
                    @media(max-width: 414px){
                        height: 703px;
                    }
                }

                h2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 44px;
                    color: #FFFFFF;
                    font-family: $kfont;
                    padding-left: 64px;
                    margin-bottom: 65px;
                    @media(max-width: 1024px){
                        font-size: 24px;
                        line-height: 35px;
                        padding-left: 51px;
                        margin-bottom: 30px;
                    }
                    @media(max-width: 600px){
                        padding-left: 20px;
                    }
                    @media(max-width: 480px){
                        padding-left: 51px;
                        margin-bottom: 40px;
                    }
                    @media(max-width: 380px){
                        padding-left: 15px;
                    }
                }

                .cbottom-section-wrapper {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    @media(max-width: 480px){
                        flex-direction: column;
                        justify-content: left;
                    }

                    .cbottom-section-left {
                        .cbottom-left-section-left {
                            display: flex;
                            flex-direction: row;
                            padding-left: 64px;
                            @media(max-width: 1024px){
                                padding-left: 51px;
                            }
                            @media(max-width: 600px){
                                padding-left: 20px;
                            }
                            @media(max-width: 480px){
                                flex-direction: column;
                                padding-left: 51px;
                            }
                            @media(max-width: 380px){
                                padding-left: 15px;
                            }

                            .cbottom-left-box {
                                width: 154px;
                                margin-right: 16px;
                                @media(max-width: 1024px){
                                    width: unset;
                                    margin-right: 32px;
                                }
                                @media(max-width: 800px){
                                    margin-right: 20px;
                                }
                                @media(max-width: 480px){
                                    margin-right: 0;
                                    margin-bottom: 20px;
                                }

                                .box-top {
                                    display: flex;
                                    flex-direction: row;
                                    margin-bottom: 12px;

                                    .box-top-left {
                                        img {
                                            width: 30px;
                                            height: 30px;
                                            @media(max-width: 1024px){
                                                width: 20px;
                                                height: 20px;
                                            }
                                        }
                                    }

                                    .box-top-right {
                                        margin-left: 12px;
                                        @media(max-width: 1024px){
                                            margin-left: 8px;
                                        }
                                        p {

                                            margin: 0;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 23px;
                                            color: rgba(210, 210, 210, 0.82);
                                            font-family: $kfont;
                                            @media(max-width: 1024px){
                                                font-size: 14px;
                                                line-height: 20px;
                                                padding-top: 4px;
                                            }
                                        }
                                    }
                                }

                                .cbottom-txt {
                                    background-color: #FFFFFF;
                                    width: 154px;
                                    height: 50px;
                                    border-radius: 5px;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    @media(max-width: 1024px){
                                        // width: 111px;
                                        width: 111px;
                                        height: 47px;
                                    }

                                    .c-txt {
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 19px;
                                        color: #2A263C;
                                        font-family: $kfont;
                                        margin: 0;
                                        @media(max-width: 1024px){
                                            font-size: 16px;
                                        }
                                    }
                                }
                                .cbottom-left-box-mobile0{
                                    @media(max-width: 1024px){
                                        width: 111px;
                                    }
                                    @media(max-width: 600px){
                                        width: 100px;
                                    }
                                    @media(max-width: 480px){
                                        width: 111px;
                                    }
                                }
                                .cbottom-left-box-mobile1{
                                    @media(max-width: 1024px){
                                        width: 148px;
                                    }
                                    @media(max-width: 600px){
                                        width: 115px;
                                    }
                                    @media(max-width: 480px){
                                        width: 148px;
                                    }
                                }
                                .cbottom-left-box-mobile2{
                                    @media(max-width: 1024px){
                                        width: 91px;
                                    }
                                    @media(max-width: 480px){
                                        width: 93px;
                                    }
                                }
                            }
                        }
                    }

                    .cbottom-section-right {
                        padding-top: 80px;
                        padding-right: 31px;
                        @media(max-width: 600px){
                            padding-top: 62px;
                        }
                        @media(max-width: 480px){
                            text-align: left;
                            padding-left: 51px;
                            padding-top: 20px;
                        }
                        @media(max-width: 380px){
                            padding-left: 15px;
                        }
                        p {
                            margin: 0;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 22px;
                            text-align: center;
                            text-decoration-line: underline;
                            color: #FFFFFF;
                            font-family: $kfont;
                            @media(max-width: 480px){
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Ulike Korea Section
