.myvideo-inner {
    .myinner-container-4 {
        grid-template-columns: 776px 435px;
        padding-bottom: 50px;

        @media(max-width: 1366px){
            grid-gap: 75px;
        }

        @media(max-width: 1280px){
            grid-template-columns: 705px 435px;
            grid-gap: 60px;
        }
        @media(max-width: 1152px){
        grid-template-columns: 577px 435px;
        grid-gap: 58px;
        }

        @media(max-width: 1024px){
            grid-template-columns: auto;
            padding-top: 0;
        }
        @media(max-width: 800px){
            padding-bottom: 480px;
        }

        @media(max-width: 480px){
            padding-bottom: 430px;
        }

        .inner-topvideo-section {
            iframe {}

            .inner-video-1 {
                height: 477px !important;

                @media(max-width: 450px){
                    height: 250px !important;
                }
                @media(max-width: 414px){
                    height: 217px !important;
                }
            }

            .video-after-txt {

                // Inner para
                .inner-video-para-section {
                    border-top: 1px solid rgba(42, 38, 60, 0.1);
                    padding-top: 20px;

                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 19px;
                        line-height: 164.8%;
                        color: #6D6B7C;
                        font-family: $kfont;
                    }
                }

                // Inner para
            }
        }

        .video-inner-left-container {
            height: 942px;

            @media(max-width: 1024px){
                padding-bottom: 31px;
                width: 435px;
                margin: 0 auto;
            }
            @media(max-width: 800px){
                overflow: visible;
                height: 510px;
            }

            @media(max-width: 450px){
                width: 420px;
            }
            @media(max-width: 425px){
                width: 400px;
            }
            @media(max-width: 414px){
                width: 370px;
            }
            @media(max-width: 400px){
                width: 100%;
            }

            .video-inner-left-header {
                font-style: normal;
                font-weight: 500;
                font-size: 23px;
                line-height: 33px;
                color: #2A263C;
                font-family: $kfont;
                margin-bottom: 20px;
                border-bottom: 1px solid rgba(42, 38, 60, 0.1);
                padding-bottom: 10px;
            }

            .left-inner-video {
                height: 114px;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0 !important;
                }

                .inner-left-thumbnail {
                    max-width: 180px;
                    width: 180px !important;
                    height: 110px;
                    @media(max-width: 400px){
                        max-width: 114px;
                        width: 114px !important;
                        height: 93px;
                    }
                }
            }

            .inner-add-left-section {

                // Add Box
                .myadd {
                    background-image: url("../assets/images/image_banner.png");
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 253px;
                    border-radius: 4px;
                    position: relative;
                    margin-top: 70px;

                    @media(max-width: 500px) {
                        margin-top: 50px;
                        max-width: 100%;
                    }

                    // @media(max-width: 436px){
                    //     max-width: 390px;
                    //     margin: 0 auto;
                    //     height: 220px;
                    // }
                    // @media(max-width: 427px){
                    //    width: 100%;
                    //    margin-left: auto;
                    // }

                    h5 {
                        font-style: normal;
                        font-weight: bold;
                        font-size: 21px;
                        line-height: 30px;
                        color: #FFFFFF;
                        font-family: $kfont;
                        max-width: 280px;
                        padding: 20px 0px 0px 20px;

                        @media(max-width: 450px) {
                            font-size: 18px;
                        }
                        @media(max-width: 400px){
                            padding: 20px 0px 0px 15px;
                        }
                    }

                    h2 {
                        font-style: normal;
                        font-weight: 900;
                        font-size: 36px;
                        line-height: 52px;
                        color: #FFFFFF;
                        font-family: $kfont;
                        text-transform: uppercase;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        content: "";
                        transform: translate(-50%, -50%);

                        @media(max-width: 450px) {
                            font-size: 28px;
                        }
                    }

                    a {
                        text-decoration: none;
                        width: 318px;
                        height: 61px;
                        border-radius: 8px;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 29px;
                        text-align: center;
                        color: #FFFFFF;
                        font-family: $kfont;
                        background: linear-gradient(96.04deg, var(--c1, #A80304), var(--c2, #CF393A) 51%, var(--c1, #a10707)) var(--x, 0)/ 200%;
                        padding: 16px 83px;
                        position: absolute;
                        bottom: -30px;
                        content: "";
                        left: 14%;
                        transition: 0.5s ease;
                        box-shadow: 0px 21px 21px -9px rgba(168, 3, 4, 0.31);

                        @media(max-width: 450px) {
                            font-size: 18px;
                            width: 250px;
                            padding: 10px 20px;
                            left: 20%;
                            height: 50px;
                        }
                        @media(max-width: 400px){
                            width: calc(100% - 20%);
                            left: 10%;
                        }

                        &:hover {
                            --x: 100%;
                        }
                    }

                }

                // Add Box
            }
        }
    }
}



// Middle Baner and link section
.video-bottom-video-list-section {
    .list-top-title {
        margin: 35px 0;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 43px;
        color: #2A263C;
        font-family: $kfont;
    }
    .list-border{
        background-color: rgba(42, 38, 60, 0.1);
        height: 1px;
        width: 100%;
    }
    .video-inner-bottom-list{
        .articles-container{
            .article {

                @media(max-width: 450px){
                    width: 87%;
                }
                @media(max-width: 425px){
                    width: 89%;
                }
                @media(max-width: 414px){
                    width: 93%;
                }
                @media(max-width: 400px){
                    width: 100%;
                }
                a {
                    .mythumnail {
                        max-width: 321px;
                        max-height: 198px;
                        width: 321px;
                        height: 198px;
                        border-radius: 4px;

                        @media(max-width: 600px) {
                            width: 264px;
                            height: 160px;
                        }

                        @media(max-width: 480px) {
                            width: 211px;
                            height: 135px;
                        }

                        @media(max-width: 450px) {
                            max-width: 321px;
                            max-height: 198px;
                            width: 321px;
                            height: 198px;
                        }
                        @media(max-width: 400px){
                            max-width: 100%;
                            width: 100%;
                        }
                    }
                }

                .bottom-video-link {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 23px;
                    color: #2A263C;
                    font-family: $kfont;
                    text-decoration: none;

                    @media(max-width: 800px) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }

                .category-box {
                    .category-1 {
                        p {
                            margin: 0;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 20px;
                            color: #D03A3B;
                            font-family: $kfont;
                        }
                    }

                    p {
                        margin: 0;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        color: #838291;
                    }
                }

            }
        }
        .video-inner-articles-container{
            padding-bottom: 0;
            @media(max-width: 1366px){
                width: 1004px;
                margin: 0 auto;
            }
            @media(max-width: 1024px){
                width: 663px;
                margin: 0 auto;
            }
            @media(max-width: 768px){
                grid-template-columns: auto auto;
                width: 663px;
            }
            @media(max-width: 600px){
                width: 553px;
            }
            @media(max-width: 480px){
                grid-template-columns: auto auto;
                width: 450px;
            }
            @media(max-width: 450px){
                grid-template-columns: auto;
                width: 400px;
                padding-left: 35px;
            }
            @media(max-width: 425px){
                width: 400px;
                padding-left: 40px;
            }
            @media(max-width: 414px){
                width: 365px;
                padding-left: 20px;
            }
            @media(max-width: 400px){
                width: 100%;
                padding-left: 0;
            }
        }
    }
}

// Middle Baner and link section
